futurefit-linkedin-job-scraper/futurefit-linkedIn-job-scrapper-flow.blueprint.json
{
    "name": "LinkedIn Job Scrapper Flow",
    "flow": [
        {
            "id": 6,
            "module": "google-drive:watchFilesInAFolder",
            "version": 4,
            "parameters": {
                "limit": 1,
                "select": "create",
                "folderId": "/1mSPv54lhFn4ZaKkMnvYcMxGLwtaU5D8p",
                "mimeType": "all",
                "__IMTCONN__": 5557074,
                "destination": "drive"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "select": {
                            "label": "By Created Time"
                        },
                        "folderId": {
                            "path": [
                                "FutureFit Resume"
                            ]
                        },
                        "mimeType": {
                            "label": "All"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection (pruthviii1203@gmail.com)"
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Watch Files",
                        "required": true,
                        "validate": {
                            "enum": [
                                "create",
                                "modify"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "mimeType",
                        "type": "select",
                        "label": "File Types to Watch",
                        "required": true,
                        "validate": {
                            "enum": [
                                "all",
                                "document",
                                "spreadsheet",
                                "slide",
                                "drawing"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "Select the Folder to be Watched",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 17,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "desired_job",
                        "value": ""
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "desired_job",
                        "type": "any",
                        "label": "desired_job"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "google-drive:getAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 5557074
            },
            "mapper": {
                "file": "/1mSPv54lhFn4ZaKkMnvYcMxGLwtaU5D8p/1n2Erewi9AxjLkll_islLqxmgvtqXWTjk",
                "select": "value",
                "destination": "drive",
                "formatDrawings": "image/jpeg",
                "formatDocuments": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                "formatSpreadsheets": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                "formatPresentations": "application/vnd.openxmlformats-officedocument.presentationml.presentation"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "file": {
                            "path": [
                                "FutureFit Resume",
                                "Raj_Solanki_DataAnalyst.pdf"
                            ]
                        },
                        "select": {
                            "label": "Select from the list"
                        },
                        "destination": {
                            "label": "My Drive"
                        },
                        "formatDrawings": {
                            "label": "JPEG"
                        },
                        "formatDocuments": {
                            "label": "MS Word Document"
                        },
                        "formatSpreadsheets": {
                            "label": "MS Excel"
                        },
                        "formatPresentations": {
                            "label": "MS PowerPoint"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection (pruthviii1203@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a File ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "formatDocuments",
                        "type": "select",
                        "label": "Convert Google Documents Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                "application/pdf",
                                "application/vnd.oasis.opendocument.text",
                                "text/html",
                                "text/plain",
                                "application/rtf",
                                "text/markdown"
                            ]
                        }
                    },
                    {
                        "name": "formatSpreadsheets",
                        "type": "select",
                        "label": "Convert Google Spreadsheets Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                                "application/x-vnd.oasis.opendocument.spreadsheet",
                                "application/pdf",
                                "text/csv"
                            ]
                        }
                    },
                    {
                        "name": "formatPresentations",
                        "type": "select",
                        "label": "Convert Google Slides Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.presentationml.presentation",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "formatDrawings",
                        "type": "select",
                        "label": "Convert Google Drawings Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "image/jpeg",
                                "image/png",
                                "image/svg+xml",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "file",
                        "type": "file",
                        "label": "File ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "pdf-co:PDFToAnything",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5557406
            },
            "mapper": {
                "async": 15000,
                "export": {
                    "exportType": "downloadFile"
                },
                "import": {
                    "data": "{{7.data}}",
                    "name": "{{7.name}}",
                    "importType": "upload"
                },
                "inline": true,
                "convert": {
                    "convertType": "toTextSimple"
                },
                "expiration": "60"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "async": {
                            "mode": "chose",
                            "label": "Async"
                        },
                        "export": {
                            "nested": {
                                "exportType": {
                                    "label": "Download a File"
                                }
                            }
                        },
                        "import": {
                            "nested": {
                                "importType": {
                                    "label": "Upload a File"
                                }
                            }
                        },
                        "inline": {
                            "mode": "chose"
                        },
                        "convert": {
                            "nested": {
                                "convertType": {
                                    "label": "PDF to Text (simple, no layout, fast)"
                                }
                            }
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "pdf-co"
                            },
                            "label": "My PDF.co connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:pdf-co",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "import",
                        "spec": [
                            {
                                "name": "importType",
                                "type": "select",
                                "label": "Input File",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "upload",
                                        "url"
                                    ]
                                }
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Output File Name"
                            }
                        ],
                        "type": "collection",
                        "label": "Import Options",
                        "required": true
                    },
                    {
                        "name": "convert",
                        "spec": [
                            {
                                "name": "convertType",
                                "type": "select",
                                "label": "Convert Type",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "toTextSimple",
                                        "toText",
                                        "toCsv",
                                        "toJson2",
                                        "toJson",
                                        "toXml",
                                        "toXls",
                                        "toXlsx",
                                        "toHtml",
                                        "toJpg",
                                        "toPng",
                                        "toTiff"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Convert Options",
                        "required": true
                    },
                    {
                        "name": "pages",
                        "type": "text",
                        "label": "Pages"
                    },
                    {
                        "name": "password",
                        "type": "text",
                        "label": "Password"
                    },
                    {
                        "name": "inline",
                        "type": "boolean",
                        "label": "Inline"
                    },
                    {
                        "name": "async",
                        "type": "select",
                        "label": "Execution Mode",
                        "validate": {
                            "enum": [
                                false,
                                15000,
                                "asyncCheckLater"
                            ]
                        }
                    },
                    {
                        "name": "profiles",
                        "type": "text",
                        "label": "Profiles"
                    },
                    {
                        "name": "expiration",
                        "type": "number",
                        "label": "Output Links Expiration"
                    },
                    {
                        "name": "export",
                        "spec": [
                            {
                                "name": "exportType",
                                "type": "select",
                                "label": "Export Type",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "downloadFile",
                                        "inline"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Export Options",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 24,
            "module": "apify:runActorNew",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5561427
            },
            "mapper": {
                "actorId": "JkfTWxtpgfvcRQn3p",
                "runSync": true,
                "actor_search_type": "user",
                "inputBodyJkfTWxtpgfvcRQn3p": "{\r\n  \"job_title\": \"{{17.desired_job}}\",\r\n  \"location\": \"Canada\",\r\n  \"jobs_entries\": 5,\r\n  \"experience_level\": \"1\",\r\n  \"start_jobs\": 0,\n  \"job_post_time\": \"r86400\"\n\r\n}"
            },
            "metadata": {
                "designer": {
                    "x": 903,
                    "y": 315
                },
                "restore": {
                    "expect": {
                        "memory": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "actorId": {
                            "mode": "chose",
                            "label": "⚡️Rapid Linkedin Jobs Scraper (No Cookies) | Free Jobs Scraper (worldunboxer/rapid-linkedin-scraper)"
                        },
                        "runSync": {
                            "mode": "chose"
                        },
                        "actor_search_type": {
                            "label": "Recently used Actors"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "apify2"
                            },
                            "label": "My Apify [Recommended] connection (pruthviii1203@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:apify2,apify",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "actor_search_type",
                        "type": "select",
                        "label": "Search Actors from",
                        "required": true,
                        "validate": {
                            "enum": [
                                "user",
                                "store"
                            ]
                        }
                    },
                    {
                        "name": "runSync",
                        "type": "boolean",
                        "label": "Run synchronously",
                        "required": true
                    },
                    {
                        "name": "build",
                        "type": "text",
                        "label": "Build"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout"
                    },
                    {
                        "name": "memory",
                        "type": "select",
                        "label": "Memory",
                        "validate": {
                            "enum": [
                                128,
                                256,
                                512,
                                1024,
                                2048,
                                4096,
                                8192,
                                16384,
                                32768
                            ]
                        }
                    },
                    {
                        "name": "actorId",
                        "type": "select",
                        "label": "Actor",
                        "required": true
                    },
                    {
                        "name": "inputBodyJkfTWxtpgfvcRQn3p",
                        "type": "text",
                        "label": "Input JSON",
                        "required": true
                    },
                    {
                        "name": "maxTotalChargeUsd",
                        "type": "hidden",
                        "label": "Maximum cost per run"
                    },
                    {
                        "name": "maxItems",
                        "type": "hidden",
                        "label": "Maximum charged results"
                    }
                ]
            }
        },
        {
            "id": 25,
            "module": "apify:fetchDatasetItems",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5561427
            },
            "mapper": {
                "type": "clean",
                "limit": "100",
                "format": "json",
                "datasetId": "{{24.defaultDatasetId}}"
            },
            "metadata": {
                "designer": {
                    "x": 1197,
                    "y": 305
                },
                "restore": {
                    "expect": {
                        "type": {
                            "mode": "chose",
                            "label": "Clean"
                        },
                        "format": {
                            "mode": "chose",
                            "label": "JSON"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "apify2"
                            },
                            "label": "My Apify [Recommended] connection (pruthviii1203@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:apify2,apify",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "datasetId",
                        "type": "text",
                        "label": "Dataset ID",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Data transformation",
                        "required": true,
                        "validate": {
                            "enum": [
                                "clean",
                                "simplified",
                                "none"
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "type": "select",
                        "label": "Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "json",
                                "csv",
                                "html",
                                "xml",
                                "rss",
                                "xlsx"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "validate": {
                            "max": 100000,
                            "min": 1
                        }
                    },
                    {
                        "name": "offset",
                        "type": "uinteger",
                        "label": "Offset",
                        "validate": {
                            "min": 0
                        }
                    }
                ]
            }
        },
        {
            "id": 45,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{`25`}}"
            },
            "metadata": {
                "designer": {
                    "x": 1518,
                    "y": 309
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 38,
            "module": "gemini-ai:createACompletionGeminiPro",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5557464
            },
            "mapper": {
                "model": "gemini-2.5-pro-preview-03-25",
                "contents": [
                    {
                        "role": "user",
                        "parts": [
                            {
                                "text": "Resume:{{13.body}}\nJob : \nTitle: {{25.job_title}}\nCompany: {{25.company_name}}\nDescription: {{25.job_description}}",
                                "type": "text"
                            }
                        ]
                    }
                ],
                "generationConfig": {
                    "thinkingConfig": {}
                },
                "system_instruction": {
                    "parts": [
                        {
                            "text": "Act as a FAANG recruiter.\n\nInstructions:\n\nThoroughly review the job description and identify key responsibilities, required skills, qualifications, and any specific keywords.\n\nCompare my existing resume to these job requirements and note where my resume aligns and where it needs adjustments.\n\nPropose specific modifications or additions to showcase how my experience and skills align with the job description, ensuring the language and keywords match what the employer is seeking (while remaining honest and accurate).\n\nProvide a revised version of my resume in a well-structured, ATS-friendly format with clear headings (“Summary,” “Experience,” “Skills,” “Education”).\n\nAssign a Fit Rating out of 10 and briefly explain why, highlighting strengths and gaps.\n\nWrite a concise yet compelling “Why I’m a Great Fit” paragraph summarizing why I am the right candidate.\n\nDraft a tailored cover letter for the position that addresses the hiring manager (or recruiter), clearly states my interest, aligns my skills/experience with the job, and ends with a strong, polite call to action.\n\nDraft a short, professional LinkedIn cold message for the hiring manager or recruiter with a concise intro, one or two unique points about my background, and a polite invitation to connect or discuss the role further.\n\nReview all drafted content for clarity, grammar, professionalism, and ATS alignment.\n\nSuggest final edits or enhancements to make the application stronger, including job search or networking tips (e.g., personalizing messages, following up, showcasing portfolio work).\n\nEmphasize ATS-friendly language, concrete examples with metrics where possible, customization, and authenticity (no fabrication).\n\nTone: formal yet approachable, recruiter-standard.\n\nOutput Requirement:\n\nONLY return ONLY raw JSON. \r\nDo not include ```json or backticks. \r\nOutput must start with { and end with }.:\r\n{\r\n  \"ATS_Score\": number 0-100,\r\n  \"Strengths\": [\"point1\", \"point2\"],\r\n  \"Weaknesses\": [\"point1\", \"point2\"],\r\n  \"Improvements\": [\"point1\", \"point2\"],\r\n  \"CoverLetter\": \"short tailored cover letter\"\r\n}\n\r\n\r\n​"
                        }
                    ]
                }
            },
            "metadata": {
                "designer": {
                    "x": 1824,
                    "y": 299
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Gemini 2.5 Pro Preview 03-25"
                        },
                        "contents": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "parts": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "url_context": {
                            "mode": "chose"
                        },
                        "code_execution": {
                            "mode": "chose"
                        },
                        "safetySettings": {
                            "mode": "chose"
                        },
                        "generationConfig": {
                            "nested": {
                                "stopSequences": {
                                    "mode": "chose"
                                },
                                "thinkingConfig": {
                                    "nested": {
                                        "include_thoughts": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "responseMimeType": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "responseModalities": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "system_instruction": {
                            "nested": {
                                "parts": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        },
                        "google_search_context": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "gemini-ai-q9zyjp"
                            },
                            "label": "My Gemini AI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:gemini-ai-q9zyjp",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "AI Model",
                        "required": true
                    },
                    {
                        "name": "contents",
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Model",
                                        "value": "model"
                                    }
                                ]
                            },
                            {
                                "name": "parts",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "options": [
                                            {
                                                "label": "Text",
                                                "value": "text",
                                                "nested": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": false
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "File",
                                                "value": "file",
                                                "nested": [
                                                    {
                                                        "name": "file_data",
                                                        "spec": [
                                                            {
                                                                "name": "mime_type",
                                                                "type": "text",
                                                                "label": "Mime Type",
                                                                "required": false
                                                            },
                                                            {
                                                                "help": "You get this from the 'Upload a File' module.",
                                                                "name": "file_uri",
                                                                "type": "text",
                                                                "label": "File URI",
                                                                "required": false
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Data",
                                                        "required": false
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ],
                                "type": "array",
                                "label": "Parts"
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "system_instruction",
                        "spec": [
                            {
                                "name": "parts",
                                "spec": {
                                    "name": "value",
                                    "spec": [
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Prompt"
                                },
                                "type": "array",
                                "label": "Prompts"
                            }
                        ],
                        "type": "collection",
                        "label": "System Instructions"
                    },
                    {
                        "name": "safetySettings",
                        "spec": [
                            {
                                "name": "category",
                                "type": "select",
                                "label": "Category",
                                "options": [
                                    {
                                        "label": "Harassment content",
                                        "value": "HARM_CATEGORY_HARASSMENT"
                                    },
                                    {
                                        "label": "Hate speech and content",
                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                    },
                                    {
                                        "label": "Sexually explicit content.",
                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                    },
                                    {
                                        "label": "Dangerous content:",
                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                    }
                                ]
                            },
                            {
                                "name": "threshold",
                                "type": "select",
                                "label": "Threshold",
                                "options": [
                                    {
                                        "label": "Block low and above.",
                                        "value": "BLOCK_LOW_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block medium and above.",
                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block only high.",
                                        "value": "BLOCK_ONLY_HIGH"
                                    },
                                    {
                                        "label": "Block none.",
                                        "value": "BLOCK_NONE"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Safety Settings"
                    },
                    {
                        "name": "generationConfig",
                        "spec": [
                            {
                                "name": "stopSequences",
                                "spec": {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Stop Sequence"
                                },
                                "type": "array",
                                "label": "Stop Sequences"
                            },
                            {
                                "name": "responseModalities",
                                "type": "select",
                                "label": "Response Modalities",
                                "multiple": true,
                                "validate": {
                                    "enum": [
                                        "text",
                                        "image"
                                    ]
                                }
                            },
                            {
                                "name": "maxOutputTokens",
                                "type": "number",
                                "label": "Max Output Tokens"
                            },
                            {
                                "name": "temperature",
                                "type": "number",
                                "label": "Temperature",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topP",
                                "type": "number",
                                "label": "Top P",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topK",
                                "type": "number",
                                "label": "Top K"
                            },
                            {
                                "name": "thinkingConfig",
                                "spec": [
                                    {
                                        "name": "thinkingBudget",
                                        "type": "number",
                                        "label": "Thinking Budget"
                                    },
                                    {
                                        "name": "include_thoughts",
                                        "type": "boolean",
                                        "label": "Include Thoughts"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thinking Config"
                            },
                            {
                                "name": "responseMimeType",
                                "type": "select",
                                "label": "Response Mime Type"
                            }
                        ],
                        "type": "collection",
                        "label": "Generation configurations"
                    },
                    {
                        "name": "tools",
                        "type": "any",
                        "label": "Tools"
                    },
                    {
                        "name": "tool_config",
                        "type": "any",
                        "label": "Tool Config"
                    },
                    {
                        "name": "url_context",
                        "type": "boolean",
                        "label": "URL Context"
                    },
                    {
                        "name": "google_search_context",
                        "type": "boolean",
                        "label": "Google Search Grounding"
                    },
                    {
                        "name": "code_execution",
                        "type": "boolean",
                        "label": "Code Execution"
                    }
                ]
            }
        },
        {
            "id": 42,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "global": false,
                "pattern": "```json([\\s\\S]*?)```",
                "multiline": true,
                "sensitive": false,
                "singleline": false,
                "continueWhenNoRes": false
            },
            "mapper": {
                "text": "{{38.result}}"
            },
            "metadata": {
                "designer": {
                    "x": 2093,
                    "y": 292
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "name": "$1",
                        "type": "text",
                        "label": "$1"
                    }
                ]
            }
        },
        {
            "id": 43,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 196532
            },
            "mapper": {
                "json": "{{42.`$1`}}"
            },
            "metadata": {
                "designer": {
                    "x": 2404,
                    "y": 281
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "My data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "",
                        "name": "ATS_Score",
                        "type": "number",
                        "label": null,
                        "default": null,
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "Strengths",
                        "spec": {
                            "type": "text",
                            "default": null,
                            "required": false,
                            "multiline": false
                        },
                        "type": "array",
                        "label": null,
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "Weakness",
                        "spec": {
                            "type": "text",
                            "default": null,
                            "required": false,
                            "multiline": false
                        },
                        "type": "array",
                        "label": null,
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "Improvements",
                        "spec": {
                            "type": "text",
                            "default": null,
                            "required": false,
                            "multiline": false
                        },
                        "type": "array",
                        "label": null,
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "CoverLetter",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 26,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5557311
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "0": "{{25.company_name}}",
                    "1": "{{25.job_title}}",
                    "2": "{{25.job_url}}",
                    "3": "{{25.apply_url}}",
                    "4": "{{25.company_url}}",
                    "5": "{{25.location}}",
                    "6": "{{25.time_posted}}",
                    "7": "{{25.num_applicants}}",
                    "8": "{{25.job_description}}",
                    "9": "{{25.job_id}}",
                    "10": "{{25.seniority_level}}",
                    "11": "{{25.job_function}}",
                    "12": "{{25.industries}}",
                    "13": "{{25.employment_type}}",
                    "14": "{{25.salary_range}}",
                    "15": "{{25.easy_apply}}",
                    "16": "{{43.ATS_Score}}",
                    "17": "{{43.Strengths}}",
                    "18": "{{43.Weaknesses}}",
                    "19": "{{43.Improvements}}",
                    "20": "{{43.CoverLetter}}"
                },
                "sheetId": "Jobs",
                "spreadsheetId": "/1e14E6w89pg5enlZ8Sp8myKu6ZNZpso4jaJeVkDzBmyQ",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 2703,
                    "y": 274
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Jobs"
                        },
                        "spreadsheetId": {
                            "path": [
                                "FutureFit"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "Company Name (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Job Title (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "Job Url (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "Apply Url (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "Company Url (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "Job Location (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "Time Posted (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "Applicants (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "Job Description (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "Job ID (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "Seniority Level (K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "Job Function (L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "Industry type (M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "Employment Type (N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "Salary Range (O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "Easy Apply (P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "ATS Score (Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "Strengths (R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "Weakness (S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "Improvements (T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (pruthviii1203@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Company Name (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Job Title (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Job Url (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Apply Url (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Company Url (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Job Location (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "Time Posted (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "Applicants (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "Job Description (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "Job ID (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "Seniority Level (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "Job Function (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "Industry type (M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "Employment Type (N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "Salary Range (O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "Easy Apply (P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "ATS Score (Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "Strengths (R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "Weakness (S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "Improvements (T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}